
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #F6F3F3;
}

:root{
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --green-color: #c1ff72;
}
